%h1 Listing histories

%table
  %thead
    %tr
      %th User
      %th Stream
      %th Watch time
      %th Rated
      %th Date watched
      %th
      %th
      %th

  %tbody
    - @histories.each do |history|
      %tr
        %td= history.User_id
        %td= history.Stream_id
        %td= history.watch_time
        %td= history.Rated
        %td= history.Date_watched
        %td= link_to 'Show', history
        %td= link_to 'Edit', edit_history_path(history)
        %td= link_to 'Destroy', history, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New History', new_history_path
